.width-80 {
  width: 80%;
}

.uppercase {
  text-transform: uppercase;
}

.main-between {
  display: flex;
  justify-content: space-between;
}

.main-center {
  display: flex;
  justify-content: center;
}
