/** Estilos reutilizables **/
.width-85 {
  width: 85%;
}

.uppercase {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.main-between {
  display: flex;
  justify-content: space-between;
}

.main-center {
  display: flex;
  justify-content: center;
}

.cross-center {
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.pad-15 {
  padding: 15px;
}

.font-17 {
  font-size: 1.7rem;
}

.font-09 {
  font-size: 0.9rem;
}
