/** Estilos del proyecto que solo se usa 1 vez**/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}

header {
  background-color: #2c3e50;
  position: fixed;
}

.height-100 {
  height: 100px;
}

.height-80 {
  height: 80px !important;
}

.height-700 {
  height: 700px;
}

.height-590 {
  height: 590px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 2.5rem;
}
.row .pad-15:hover {
  color: #18bc9c;
}

#start-bootstrap {
  background-color: #18bc9c;
  padding-top: 180px;
}

#portfolio {
  background-color: #ffffff;
  color: #000000;
  padding: 100px 0;
}

.cont-image {
  width: 360px;
  height: 260px;
}
